# dependencies
node_modules

# next.js build output
.next

# typescript
*.tsbuildinfo

# logs
dev-server.log
npm-debug.log*
prod-server.log
prod-server-err.log
prod-server-out.log

# supabase local tooling
supabase/.temp

# local env files
.env
.env.local
.env*.local

.vercel

.vercel
.env*
